@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: 'Poppins';
    margin: 0;
    height: 100%; 
    background-image: url(../images/sign-in-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* config.css */
a:hover {
  text-decoration: none;
}
 
:root {
    --baseColor: #ECECF0;
  }
  
  /* helpers/align.css */
  
body,html {
    margin: 0;
}

.left-side {
  width: 60vh;
}

  .align {
    display: grid;
    place-items: center;
  }
  

  
  /* helpers/hidden.css */
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  /* helpers/icon.css */
  
  :root {
    --iconFill: var(--baseColor);
  }
  
  .icons {
    display: none;
  }
  
  .icon {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    vertical-align: middle;
  }
  
  /* layout/base.css */
  
  :root {
    --htmlFontSize: 100%;
  
    --bodyBackgroundColor: #2c3338;
    --bodyColor: var(--baseColor);
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
  }
  
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: var(--htmlFontSize);
  }
  
  /* modules/anchor.css */
  
  :root {
    --anchorColor: black;
  }
  
  a {
    color: var(--anchorColor);
    outline: 0;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    text-decoration: underline;
  }
  
  /* modules/form.css */
  
  :root {
    --formGap: 2.5em;
  }
  
.text--center {
  text-align: center;
}

  input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  input[type="submit"] {
    cursor: pointer;
  }
  
  .form {
    display: grid;
    gap: var(--formGap);
  }
  
  .form input[type="password"],
  .form input[type="text"],
  .form input[type="submit"] {
    inline-size: 100%;
  }
  
  .form__field {
    display: flex;
  }
  
  .form__input {
    flex: 1;
  }
  
  /* modules/login.css */
  
  :root {
    --loginBorderRadus: 0.25rem;
    --loginColor: black;
  
    --loginInputBackgroundColor: #EEEEFF;
    --loginInputHoverBackgroundColor: white;
  
    --loginLabelBackgroundColor: #E3E6FF;
  
    --loginSubmitBackgroundColor: #6D57F5;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #5641D4;
  }
  
  .login {
    color: var(--loginColor);
  }
  
  .redirect-text {
      color: #565656;
      display: block;
      margin-top: 1em;
      font-size: 20px;
      font-weight: 300;
      
    a {
        color: blue;
        font-weight: 300;
    }
}
  .login label,
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="submit"] {
    border-radius: var(--loginBorderRadus);
    padding: 1rem;
  }
  
  .login label {
    background-color: var(--loginLabelBackgroundColor);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
  }
  
  .login input[type="password"],
  .login input[type="text"] {
    background-color: var(--loginInputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .login input[type="password"]:focus,
  .login input[type="password"]:hover,
  .login input[type="text"]:focus,
  .login input[type="text"]:hover {
    background-color: var(--loginInputHoverBackgroundColor);
  }
  
  .login input[type="submit"] {
    box-shadow: 4px 13px 32px rgba(118, 105, 202, 0.5);
    background-color: var(--loginSubmitBackgroundColor);
    color: var(--loginSubmitColor);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .login input[type="submit"]:focus,
  .login input[type="submit"]:hover {
    background-color: var(--loginSubmitHoverBackgroundColor);
  }
  
  /* modules/text.css */

  p {
    margin-block: 1.5rem;
  }

.container {
  @media (max-width: 1024px) {
    margin-inline: unset;
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
    margin-inline: 25px;
		padding-left: 32px;
		padding-right: 32px;
	}
    .sign-in-form {
   
    .introduction {
        margin: 0;
    }

    .vector {
        position: relative;
        z-index: 99;
        top: 150px;
        opacity: 0.8;
    }
        h1 {
            font-size: 40px;
            background: linear-gradient(90deg, #4568DC 0%, #B06AB3 17%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
            background-clip: text;    
            -webkit-text-fill-color: transparent;
        }

        p.intro-pg {
            font-size: 20px;
            font-weight: 300;
            color: #565656;
            line-height: 36px; 
            width: 90%;
            margin-bottom: 3em;   
        }
    }

    .right-side {
        display: none;
    }
}

.key-icon {
    width: 24px;
}

@media screen and (min-width: 1080px) {


    .container {
        
        border-radius: 5px;
        margin: 0;
        place-items: center;
        align-items: center;
        display: flex;
        gap: 10em;
        justify-content: space-evenly;
    }

    .left-side, .right-side {
      margin: 1em 4em;
    }

    .left-side {
      width: 60vh;
      max-width: 60%;
      
    }
    .right-side {
        max-width: 50%;
        display: block !important;

        img {
            align-items: center;
            position: relative;
            top: 100px;
            width: 90%;
            height: auto;
        }
    }


}